.logo{
  float:left;
}
.options{
  float: right
}
.nav {
  height: 80px;
  position: fixed;
  width: 100%;
  background: powderblue;
  opacity: .3
}
.banner {
  z-index: -1;
}
.bannerImg {
  width: 100%;
}
.about {
  height: 90%;
}
